{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "node": true
  },
  "extends": ["airbnb", "eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "no-useless-escape": "off",
    "import/prefer-default-export": "off",
    "import/no-default-export": "warn",
    "import/no-unresolved": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": 0,
    "import/extensions": 0
  },
  "overrides": [
    {
      "files": ["./src/pages/*.jsx"],
      "rules": {
        "no-unused-expressions": "off",
        "import/no-default-export": "off"
      }
    },
    {
      "files": ["gatsby-browser.js", "gatsby-ssr.js", "*.styles.*"],
      "rules": {
        "react/jsx-filename-extension": "off"
      }
    }
  ]
}
